- if current_user.employee_info_manage_auth
  .nav.justify-content-end
    = link_to '新規投稿', new_employee_article_path(@employee), class: 'btn btn-primary'
table.table.table-hover
  thead.thead-default
    tr
      th
        = Article.human_attribute_name(:title)
      th
        = sort_order_desc 'updated_at', '公開日'
      th
  tbody.align-middle
    - @articles.each do |article|
      tr
        td
          = link_to article.title, employee_article_path(@employee, article)
        td
          = article.created_at
        - if article.employee_id == current_user.id
          td
            = link_to '編集', edit_employee_article_path(@employee, article), class: 'btn btn-primary me-3'
            = link_to '削除', employee_article_path(id: article), method: :delete, data: {confirm:'投稿を削除してもよろしいですか'},class: 'btn btn-danger'

= paginate @articles, theme: 'bootstrap-5' 